body{
    background-color: bisque;
}
.heading{
    font-size: 25px;
    border-radius: 10px;
    letter-spacing: 10px;
    word-spacing: 20px;
    color:aqua;
    padding: 10px;
}
label{
    background-color:coral;
    color: white;
    font-size: 20px;
    padding: 10px;
}
